{% extends "public/journal/journal_base.html" %}
{% load i18n staticfiles %}

{% block page-title %}{{ journal.name }}{% endblock page-title %}

{% block content %}

{% trans "inconnu" as i18n_unknown %}

<section id="journal-detail" class="container-fluid">

    {# top #}
    <div class="container">

        <div class="row">

          {# Journal information (on right side except mobile) #}
          <aside id="journal-informations" class="col-sm-push-9 col-sm-3">

            {# lastest issue #}
            {% if latest_issue %}
            <div class="sidebar-block clearfix">

              <header>
                <h4 class="border-bottom">{% trans "Dernier numéro" %}</h4>
              </header>

              <p class="h5">
              {% blocktrans trimmed with number=latest_issue.erudit_object.number|default:i18n_unknown date=latest_issue.date_published|date:"F Y" %}
                Numéro {{ number }} - {{ date }}
              {% endblocktrans %}
              </p>

              <figure class="col-xs-3 no-padding">
                <img src="{% url 'public:journal:issue-coverpage' latest_issue.pk %}" class="img-responsive" alt="{{ latest_issue.title }}" />
              </figure>

            </div>
            {% endif %}

            {# journal meta infos #}
            <div class="sidebar-block">

              <header>
                  <h4 class="border-bottom">{% trans "Fiche" %}</h4>
              </header>

              <ul class="meta-blocks list-unstyled">
                {% if journal.members.all %}
                <li>
                  <h5 class="mono-space">{% trans "Direction" %}</h5>
                  {% for member in journal.members.all %}
                  <p>{{ member.get_full_name }}</p>
                  {% endfor %}
                </li>
                {% endif %}
                {% if journal.publishers.all %}
                <li>
                  <h5 class="mono-space">
                    {% blocktrans count total=journal.publishers.all|length %}
                    Éditeur
                    {% plural %}
                    Éditeurs
                    {% endblocktrans %}
                  </h5>
                  {% for publisher in journal.publishers.all %}
                  <p>{{ publisher.name }}</p>
                  {% endfor %}
                </li>
                {% endif %}
                {% if journal.issn_print or journal.issn_web %}
                <li>
                  <h5 class="mono-space">{% trans "ISSN" %}</h5>
                  {% if journal.issn_print %}
                  <p>{{ journal.issn_print }} ({% trans "imprimé" %})</p>
                  <p>{{ journal.issn_web }} ({% trans "numérique" %})</p>
                  {% endif %}
                </li>
                {% endif %}
                {% if journal.issues_per_year %}
                <li>
                  <h5 class="mono-space">{% trans "Fréquence" %}</h5>
                  <p>
                    {% blocktrans count issues_per_year=journal.issues_per_year %}
                    {{ issues_per_year }} numéro par année
                    {% plural %}
                    {{ issues_per_year }} numéros par année
                    {% endblocktrans %}
                  </p>
                </li>
                {% endif %}
                {# TODO : add this to model #}
                <li>
                  <h5 class="mono-space">{% trans "Période de publication" %}</h5>
                  <p>1924 - 2016</p>
                </li>
                {% if journal.first_issue %}
                <li>
                  <h5 class="mono-space">{% trans "Disponible dans Érudit depuis" %}</h5>
                  <p>{{ journal.first_issue.date_published|date:"Y" }}</p>
                </li>
                {% endif %}
                <li>
                  <h5 class="mono-space">{% trans "Type de support" %}</h5>
                  <p>
                    {% if journal.paper %}
                    {% trans "Numérique et papier" %}
                    {% else %}
                    {% trans "Numérique" %}
                    {% endif %}
                  </p>
                </li>

                <li>
                  <h5 class="mono-space">{% trans "Politique d'accès" %}</h5>
                  {% if journal.open_access %}
                  <p>{% trans "Disponible en libre accès" %}</p>
                  {% else %}
                  <p>{% trans "Non-disponible en libre accès" %}</p>
                  {% endif %}
                </li>

              </ul>

            </div>

            <p>
                <a href="{% url 'public:journal:journal-authors-list' journal.code %}">{% trans "Voir les auteurs" %}</a>
            </p>

          </aside>

          {# Journal about #}
          <aside id="journal-about" class="col-sm-8 col-sm-pull-3">

            <header class="row child-column-fit page-header-main">
                <aside class="col-sm-8">
                  <hgroup>
                    <h2>{{ journal.name }}</h2>
                    {% if journal.subtitle %}
                    <h3>{{ journal.subtitle }}</h3>
                    {% endif %}
                  </hgroup>
                </aside>
                <aside class="col-sm-4">
                  <figure class="logo">
                    <img src="{% url 'public:journal:journal-logo' journal.code %}" alt="" class="img-responsive" />
                  </figure>
                </aside>
            </header>

            {% if journal_info %}
            <section class="journal-infos row child-column-fit">

              {% trans "Aucune information" as tab_empty_msg %}

              {% if journal_info.about %}
              <div class="journal-info-block col-xs-12">
                <h3 class="h2">{% trans "À propos" %}</h3>
                {{ journal_info.about|default:tab_empty_msg|safe }}
              </div>
              {% endif %}

              {% if journal_info.editorial_policy %}
              <div class="journal-info-block col-xs-12">
                {{ journal_info.editorial_policy|default:tab_empty_msg|safe }}
              </div>
              {% endif %}

              {% if journal_info.subscriptions %}
              <div class="journal-info-block col-xs-12">
                {{ journal_info.subscriptions|default:tab_empty_msg|safe }}
              </div>
              {% endif %}

              {% if journal_info.team %}
              <div class="journal-info-block col-xs-12">
                {{ journal_info.team|default:tab_empty_msg|safe }}
              </div>
              {% endif %}

            </section>
            {% endif %}

          </aside>

        </div>

    </div>


    {% if issues %}
    <div class="row">
      <div class="col-md-12">
        <h2>{% trans "Historique des numéros" %}</h2>
      </div>
    </div>
    <div class="row">
      {% for issue in issues %}
      <div class="col-md-6">
        <a class="btn btn-default btn-block"
           href="{{ issue.get_absolute_url }}">
          {% blocktrans trimmed with number=issue.erudit_object.number|default:i18n_unknown date=issue.date_published|date:"F Y" %}
            Numéro {{ number }} - {{ date }}
          {% endblocktrans %}
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}

</section>

{% endblock content %}
